@mixin position($position: absolute, $zIndex: 1) {
  position: $position;
  z-index: $zIndex;
  display: flex;
}

@mixin position-fit {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin position-center($top: 0, $left: 0) {
  top: calc(50% + $top);
  left: calc(50% + $left);
  transform: translate(-50%, -50%);
}

@mixin position-sticky($place: top, $zIndex: 1) {
  @include position(sticky, $zIndex);
  #{$place}: 0;
}

@mixin position-fixed($place: top, $zIndex: 1) {
  @include position(fixed, $zIndex);
  #{$place}: 0;
}
