@mixin text-underline-crop($background: #ffffff) {
  text-shadow: 0.03em 0 $background, -0.03em 0 $background, 0 0.03em $background,
    0 -0.03em $background, 0.06em 0 $background, -0.06em 0 $background,
    0.09em 0 $background, -0.09em 0 $background, 0.12em 0 $background,
    -0.12em 0 $background, 0.15em 0 $background, -0.15em 0 $background;
}

@mixin text-underline(
  $color-bg: initial,
  $color-text: currentColor,
  $position: 0% 95%
) {
  background-image: linear-gradient($color-text, $color-text);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: $position;
}

@mixin text-selection($selection: initial) {
  &::selection {
    @include text-underline-crop($selection);

    background: $selection;
  }

  &::-moz-selection {
    @include text-underline-crop($selection);

    background: $selection;
  }
}

@mixin link-underline(
  $text: currentColor,
  $background: #ffffff,
  $selection: initial,
  $position: 0% 95%
) {
  @include text-underline-crop($background);
  @include text-underline($background, $text, $position);
  @include text-selection($selection);

  color: $text;
  text-decoration: none;

  & *,
  & *:after,
  &:after,
  & *:before,
  &:before {
    text-shadow: none;
  }

  &:visited {
    color: $text;
  }
}

@mixin typography-font-base(
  $size: $font-base-size,
  $lineheight: $font-base-lineheight
) {
  font-size: $size;
  line-height: $lineheight;
}

@mixin typography-font-style(
  $size: $font-base-size,
  $lineheight: $font-base-lineheight,
  $weight: normal
) {
  @include typography-font-base($size, $lineheight);

  font-weight: $weight;
}

@mixin typography-font-decoration($transform: none, $decoration: normal) {
  text-transform: $transform;
  text-decoration: $decoration;
}

@mixin typography-font-apperance(
  $transform: none,
  $decoration: normal,
  $spacing: normal
) {
  @include typography-font-decoration($transform, $decoration);

  letter-spacing: $spacing;
}

@mixin typography-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin typography-text-truncate-multi(
  $lines: 3,
  $lineHeight: $font-base-lineheight
) {
  display: block;
  display: -webkit-box;
  height: calc($lineHeight * lines);
  line-height: $lineHeight;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin typograpfy-text-stroke($color: #ffffff) {
  text-shadow: -1px -1px 0 $color, -1px 0 0 $color, -1px 1px 0 $color,
    0 -1px 0 $color, 0 0 0 $color, 0 1px 0 $color, 1px -1px 0 $color,
    1px 0 0 $color, 1px 1px 0 $color;
}

@mixin typography-columns(
  $width: auto,
  $count: auto,
  $gap: (
    2 * $flex-grid-gutter-width,
  ),
  $rule: none
) {
  columns: $width $count;
  column-gap: $gap;
  column-rule: $rule;
}

@mixin typography-columns-span($span: all) {
  column-span: $span;
}

@mixin typography-unbreakable {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}
