@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --colorBlack: #000000;
  --mainBackground: #080c1aee;
  --secondaryBackground: #EEF2F5ff;
  --primaryColor: #080c1aff;
  --secondaryColor: #3800FFBD;
  --primaryShadow: #03050a;
  --secondaryShadow: #0d132a;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat';
  height: 100vh;
  width: 100%;
  margin: 0;

  & > div {
    height: 100%;
    background-color: var(--mainBackground);
  }
}

:--heading {
  font-weight: bold;
}

a {
  color: var(--primaryColor);

  &:hover {
    color: var(--colorBlack);
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}
