$font-primary: 'Montserrat', Arial, sans-serif;
$font-primary-weight: 400;
$font-secondary: Arial, sans-serif;
$font-secondary-weight: 700;
$font-root-size: 62.5%;
$font-base-size: 1.8rem;
$font-base-lineheight: 3.2rem;

$font-text-xs: 1.4rem;
$font-text-sm: 1.6rem;
$font-text-md: 1.8rem;
$font-text-lg: 2rem;
$font-text-xl: 2.2rem;
$font-text-xxl: 2.8rem;
$font-text-xxxl: 3.6rem;
$font-text-xxxxl: 4.8rem;

$color-black: #1d1d21;
$color-gray-11: #202030;
$color-gray-10: #2e2e31;
$color-gray-6: #7b7a7d;
$color-gray-4: #a5a5a6;
$color-gray-3: #bbbbbc;
$color-gray-2: #d1d0d2;
$color-gray-1: #e8e7e8;
$color-white: white;

$color-success: #88c459;
$color-error: #f5414f;
$color-warning: #ffd137;

$color-primary: #4d84f4;

$color-text-dark: $color-gray-10;
$color-text-light: $color-white;
$color-text-heading: $color-black;
$color-text-subtle: $color-gray-6;
$color-link: $color-primary;
$color-link-visited: $color-primary;
$color-blockquote-border: $color-gray-2;

$space-base: $font-base-lineheight;

$space-xs: $space-base * 0.25;
$space-sm: $space-base * 0.5;
$space-md: $space-base;
$space-lg: $space-base * 1.5;
$space-xl: $space-base * 2;
$space-xxl: $space-base * 2.5;
$space-xxxl: $space-base * 3;

$flex-grid-columns: 12 !default;
$flex-grid-gutter-width: 1.8rem !default;

$media-xsmall: 480px !default;
$media-small: 768px !default;
$media-medium: 960px !default;
$media-large: 1120px !default;
$media-xlarge: 1280px !default;
